@charset "utf-8";
 
:root {
 --app-dark-bg: #181621;
 --app-dark-gray-bg: #242329;
 --app-white: #fff;
 --app-mystycal-purple: #800080;
 --app-blue: #3c57ff;
 --app-blue-hover: #364ee6;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Nunito Sans', Arial, sans-serif;
}
 
body {
 background-color: var(--app-mystycal-purple);
 color: var(--app-white);
}
 
main {
  height: 100dvh;
  display: grid;
  place-items: center;
}

.container {
  width: min(100% - 60px, 1200px);
  margin-inline: auto;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Main                                                  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
 
.game-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
  margin-top: 60px;
}

input {
    height: 35px;
    width: 73px;
    font-size: large;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: all 0.25s ease-in-out;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
    background-color: #2c10bb;
}

.replay-button {
 position: absolute;
 top: 60px;
 right: 60px;
}

#replay-btn {
    display: none;
}

